/* task 10: choose 2-4 colors for your theme and add them as font or background colors*/
.header {
  background-color: coral;
}
.header {
  color: green;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* task 11: add flexbox to the div with a class named navBar.*/
.navBar {
  display: flex;
  justify-content: space-between;
}

/* task 12: style your nav bar so the links change color/style when your hover over them.*/
.navBar:hover {
  background-color: yellow;
}

/* task 13: add at least 1 Google Font - either for the headers or paragraphs. Or both! Also, make sure it's linked in the html pages you want it used on!*/
.header {
   font-family: "Sofia", sans-serif;
}

a {
  color: #0080ff;
}


/* task 14: add a border to the images.*/
.companies {
  display: flex;
  justify-content: space-around;
  border: 5px solid #555;
}

.home {
  text-align: center;
}

.student {
  border: 1px solid white;
  width: 300px;
  text-align: center;
}

.student img {
  width: 200px;
}

.students{
  display: flex;
  justify-content: space-around;
}

h1 {
  color: #fee975;
}

img {
  width: 400px;
}